
.nav__logo{
    width: 9rem;
    display: block;
}
ul{
    list-style: none;
}
img{
    display: block;
    object-fit: cover;
    width: 100%;
}
h1,h2,h3,h4,h5,h6{
    color: var(--color-gray-900);
    line-height: 1.1;
}
h1{
    font-size: 2.2rem;
}
h2{
    font-size: 1.9rem;
}
h3{
    font-size: 1.3rem;
    line-height: 1.25;
}
h4{
    font-size: 1.1rem;
}
h5{
    line-height: 1.4;
}
section{
    margin-top: 6rem;
}
body{
    font-family: "Roboto";
    font-weight: bold;
}
.container{
    width: var(--container-width-lg);
    margin-inline: auto;
}
.btn{
    display: inline-block;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: var(--radius-2);
    background: var(--color-white);
    font-weight: 500;
    cursor: pointer;
    transition: var(--transition);
}
.btn.primary{
    background: var(--color-primary);
    color: var(--color-white);
}
.btn.category{
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--color-primary);
    background: var(--color-bg);
}
.btn.sm{
    font-size: 0.8rem;
    padding: 0.3rem 0.7rem;
    font-weight: 400;
}

.btn.danger{
    background: var(--color-red);
    color: var(--color-white);
}
.btn:hover{
    background: var(--color-gray-900);
    color: var(--color-white);
}